<th:block xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/base-layout" layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<h1 class="my-4" th:text="#{web.content.home.title}"></h1>
				<div class="list-group">
					<a th:href="@{/city}"
						th:class="${activeTab == 'city'} ? 'list-group-item active' : 'list-group-item'">Category
						1</a> <a th:href="@{/weather}"
						th:class="${activeTab == 'weather'} ? 'list-group-item active' : 'list-group-item'">Category
						2</a>
				</div>
			</div>
			<div class="col-lg-9" layout:fragment="sub-content">
				<div class="card mt-4">
					<img class="card-img-top img-fluid"
						src="http://placehold.it/900x400" alt="">
					<div class="card-body">
						<h3 class="card-title">Product Name</h3>
						<h4>$24.99</h4>
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque
							facere, soluta. Totam id dolores, sint aperiam sequi pariatur
							praesentium animi perspiciatis molestias iure, ducimus!</p>
						<span class="text-warning">&#9733; &#9733; &#9733; &#9733;
							&#9734;</span> 4.0 stars
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>